@using UWT.Templates.Services.Extends
@{
}

<div class="full_screen create-topic">
    <div class="title">
        <input type="text" name="name" value="" id="title" />
        <div id="cate" class="cate">
            <div data-value="discuss" class="discuss"></div>
            <div data-value="question" class="question"></div>
            <div data-value="vote" class="vote"></div>
        </div>
    </div>
    <div class="content" id="content"></div>

    <div class="handles">
        <button class="publish"></button>
        <button class="saved"></button>
        <button class="back"></button>
    </div>
</div>


@section CSS {
    <link href="/lib/layui/css/layui.css" rel="stylesheet" />
}

@section Scripts {
    <script src="/lib/layui/layui.js"></script>
    <script>
        layui.use(['jquery', 'form', 'layedit'], function () {
            $ = layui.$;
            var id = $(this).attr('id');
            var index = layui.layedit.build(content);
            layui.layedit.set({
                uploadImage: {
                    url: '@this.GetFileManagerOptional().UploadApi'   //接口url
                    , type: 'post' //默认post
                }
            })
            $('.publish').click(function () {
                commitTopic(true);
                $('.cate>div').removeClass()
            })
            $('.saved').click(function () {
                commitTopic(false);
            })
            $('.back').click(function () {
            })

            function commitTopic(publish) {
                var type = 'discuss';
                $('.cate>div').each(function () {
                    if ($(this).hasClass('selected')) {
                         type = $(this).data('value');
                    }
                })
                var topic = {
                    title: $('#title').val(),
                    content: curData = layui.layedit.getContent(index),
                    type: type,
                    publish: publish
                }
                api('/forums/topic/create', topic, function (rx) {
                    alert("成功");
                }, function (x) {
                    alert("失败");
                });
            }

            //layui.layedit.setContent(index, $('#' + id + "-src").html(), false)
        })
    </script>
}