@using UWT.Templates.Attributes.Forms
@{
    var template = ViewData["tt"] as UWT.Templates.Models.Interfaces.IFormListModel;
    System.Collections.IEnumerable listValues = Model as System.Collections.IEnumerable;
}

@if (template.Flags.HasFlag(FormItems.ListAttribute.FormListFlag.ShowAsTag))
{
<div data-eold="@template.Flags.HasFlag( FormItems.ListAttribute.FormListFlag.CanEditOld)">
    @if (template.Flags.HasFlag(FormItems.ListAttribute.FormListFlag.CanDelOld))
    {
        @foreach (var item in listValues)
        {
            <div>
                <input type="text" value="@item.ToString()" data-old="true" />
                <span class="layui-icon layui-icon-close-fill"></span>
            </div>
        }
    }
    else
    {
        @foreach (var item in listValues)
        {
            <div>
                <input type="text" value="@item.ToString()" data-old="true" />
            </div>
        }
    }
    @if (template.Flags.HasFlag(FormItems.ListAttribute.FormListFlag.CanAddNew))
    {
        <div>
            <input type="text" value="" />
            <button>添加</button>
        </div>
    }
</div>
}
else
{

}
