@{
    var profile = (UWT.Libs.BBS.Areas.Forums.Models.Users.UserSimpleInfo)ViewBag.Profile;
}
<div class="full_screen user-border">
    @Html.Partial("_PartialUserHeader", profile)
    <div class="users">
        <div class="content">
            <div class="box fans">
                <div class="box-title">
                    <div class="title-text"></div>
                </div>
                <div class="box-content">

                </div>
            </div>
        </div>
        <div class="infos">
            @Html.Partial("_PartialUserProfile", profile)
        </div>
    </div>
</div>
