.left-nav {
    z-index: 1000;
    top: 0;
    bottom: 0;
    background: #2f4050;
}

.layui-nav {
    background-color: transparent;
}

.layui-footer p {
    margin: 0 40px;
    line-height: 40px;
}

.layui-footer {
    background: #FFF;
}

.layui-fluid {
    bottom: 0 !important;
}

.container {
    background: #f3f3f4;
}

.left_open {
    margin-left: 240px !important;
}

.left_open a i {
    background-color: #1ab394 !important;
    border-color: #1ab394;
    color: #FFFFFF;
}

.hplus-header {
    padding: 35px 25px;
    background-image: url(/admins/images/header-profile.png);
}

.hplus-header img {
    border-radius: 50%;
    max-width: 60px;
}

    .hplus-header .layui-nav-more{
        top: 75%;
    }
    .hplus-header div {
        line-height: 30px;
    }

    .side-nav a {
        color: #a7b1c2;
        padding: 14px 20px 14px 25px !important;
    }

    .side-nav a:hover {
        color: white;
        background-color: #293846;
    }

.page a, .page span.current, .page .prev, .page .next {
    border: 1px solid #DDD;
    margin-left: -1px;
    padding: 4px 10px;
}
    .page a:hover {
        background: #eee;
        color: darkblue;
    }
.page > div {
    display: flex;
}
.page span.current {
    background: #f4f4f4;
    color: black;
}
.page .prev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page .next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page-content {
    bottom: 50px !important;
}

.hplus .quick-list {
    background-color: transparent;
    float: right;
    color: #666;
}
    .hplus .quick-list .layui-nav-item a {
        color: #666;
    }