@{
}
<div class="full_screen main_wrap">
    @if (ViewBag.TopArea != null)
    {
        <area-group area-info="ViewBag.TopArea" show-category="Tile"></area-group>

    }
    @if (ViewBag.OtherAreas != null)
    {
        foreach (var item in ViewBag.OtherAreas)
        {
            <area-group area-info="item" show-category="List"></area-group>
        }
    }

</div>
