@addTagHelper *, UWT.Templates
@using UWT.Templates.Services.Extends
@{
    Layout = null;
    var lInfo = this.GetCurrentLayoutModel();
    var rPath = this.GetResourcePath();
}

<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>@string.Format(lInfo.TitleFormat, ViewBag.Title ?? "登录")</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="@rPath/admins/css/font.css">
    <link-less href="@rPath/admins/css/login.less" is-server-mode="true"/>
    <link rel="stylesheet" href="@rPath/admins/css/xadmin.css">
    @this.RenderTheme()
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="@rPath/admins/js/common.js"></script>
    <script src="@rPath/lib/layui/layui.js" charset="utf-8"></script>
    @if (!string.IsNullOrEmpty(lInfo.Icon))
    {
        <link rel="icon" href="@lInfo.Icon" />
    }
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg bg-@ViewBag.Theme">
    <full-page-form-border title="请登录">
        <input name="username" placeholder="用户名" type="text" class="layui-input">
        <hr class="hr15">
        <input name="password" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </full-page-form-border>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;
              //监听提交
                form.on('submit(login)', function (data) {
                    if (data.field.username == '' || data.field.password == '') {
                        layui.layer.msg("用户名密码不可为空");
                        return false;
                    }
                    var loadindex = layui.layer.load(2);
                    api("/Accounts/Login", data.field, function (rx) {
                        @if (string.IsNullOrEmpty((string)ViewBag.Ref))
                        {
                            @: location.href = rx.data;
                        }
                        else
                        {
                            @: location.href = '@(ViewBag.Ref)';
                        }
                    }, function (rx) {
                        layui.layer.msg(rx.msg)
                        layui.layer.close(loadindex)
                    })
                return false;
              });
            });
        })
    </script>
    <!-- 底部结束 -->
</body>
</html>