@using UWT.Templates.Models.Templates.TagHelpers
@using UWT.Templates.Models.Interfaces
@model IListViewModel
@{
    ViewData["Title"] = "Index";
    var m = new TagHelperDataModel<IListViewModel>()
    {
        DataModel = Model
    };
}

<h1>Index</h1>


@section CSS {
    <link-less path="/" filename-no-ext="file"></link-less>
} 